// body background colors
$color-bg-primary: #ffffff;
$color-bg-secondary: #f7f7fb;
$color-bg-tertiary: #d9d9d9;
$color-bg-purple: #4745a4;
$color-bg-yellow: #f9ba33;
$color-bg-green: #3bbb6e;
$color-bg-gray: #dedede;

// text color
$color-text-purple: #4745a4;
$color-text-yellow: #f9ba33;
$color-text-green: #3bbb6e;
$color-text-darkgray: #262e4e;
$color-text-lightgray: #73788f;
$color-text-lighten-gray: #cad0ec;
$color-text-white: #ffffff;
